#custum{
    color: white;
    text-shadow: 3px 2px 4px #000000;
    
}

#artikel{
    text-shadow: 1px 2px 2px #000000;
   border: 2px solid black;
    font-family: Helvetica;
}
}
#logo{
    text-shadow: 1px 1px 2px #000000;
    border: 2px solid black;
}